# Ignore env files
*.env

# Ignore prettier config files
*.prettierrc

# Ignore word data
/server/data

# Ignore build folders
/client/build
/server/build

# Ignore node_modules
/server/node_modules
/client/node_modules